[submodule "NIHackTwistory"]
	path = NIHackTwistory
	url = git@github.com:argo2445/NIHackTwistory.git
[submodule "joyfulArticles"]
	path = joyfulArticles
	url = https://github.com/SebastianGer/nlp-hackathon
[submodule "NLHackathon"]
	path = NLHackathon
	url = https://github.com/franzi-19/NLHackathon.git
[submodule "wikiwars"]
	path = wikiwars
	url = https://github.com/TheHedgeify/wikiwars.git
	branch = master
